<ul>
  <% @memos.each do |memo| %>
  <li>
    <a href="/memos/<%= memo['memo_id'] %>" class="list-link"><%= escape_html(memo['title']) %></a>
  </li>
  <% end %>
</ul>
<a href="/memos/new" class="btn btn-save block">追加</a>
