<form action="/memos/new" method="post">
  <div class="form-item">
    <label for="title">タイトル</label>
    <input type="text" id="title" name="title" maxlength="100" required placeholder="タイトルを入力してください">
  </div>
  <div class="form-item">
    <label for="body">メモ内容</label>
    <textarea id="body" name="body" maxlength="1000" required placeholder="メモ内容を入力してください"></textarea>
  </div>
  <div class="btn-group">
    <a href="/memos" class="btn btn-back">戻る</a>
    <input type="submit" value="保存" class="btn btn-save">
  </div>
</form>
