<div class="not-found-container">
  <div class="not-found-title">404</div>
  <p class="not-found-title">NOT FOUND</p>
  <p class="not-found-message">お探しのページは<br>見つかりませんでした。</p>
</div>
<a href="/memos" class="btn btn-save block">一覧に戻る</a>
