<div class="form-item">
  <label>タイトル</label>
  <div class="div-label"><%= h(@title) %></div>
</div>
<div class="from-item">
  <label>メモ内容</label>
  <div class="div-label div-textarea"><%= convert_newline_to_br(h(@body)) %></div>
</div>
<form action="/memos/<%= @memo_id %>" method="post">
  <div class="btn-group">
    <a href="/memos/<%= @memo_id %>?action=edit" class="btn btn-save">更新</a>
    <input type="submit" value="削除" class="btn btn-delete">
    <input type="hidden" name="_method" value="DELETE">
  </div>
  <div class="btn-group">
    <a href="/memos" class="btn btn-back">戻る</a>
  </div>
</form>
